<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="main-ftr">
        <div class="ftr-head">
            <h3>Equipments</h3>
        </div>
        <div class="ftr-nav">
            <div class="main-light ftr-nav-m" style="opacity: 1; border-bottom: 2px solid rgba(0, 0, 0, 1);">Popular
            </div>
            <div class="main-light ftr-nav-m">Arts & culture</div>
            <div class="main-light ftr-nav-m">Outdoors</div>
            <div class="main-light ftr-nav-m">Rent</div>
            <div class="main-light ftr-nav-m">Manlifters</div>
            <div class="main-light ftr-nav-m">Trademark</div>
            <div class="main-light ftr-nav-m">Cranes</div>
            <div class="main-light ftr-nav-m">Things to do</div>
        </div>
        <div class="ftr-nav-pop">
            <div>
                <div>
                    <div class="main-light">Trencher</div>
                    <p class="light"> rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Concrete Mixer</div>
                    <p class="light"> rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Trucks</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Boom Lift</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Trencher</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Scissor Lift</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Tractor</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Thar</div>
                    <p class="light"> rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Loader</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Buncher</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Hauler</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Harvester</div>
                    <p class="light"> rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Skidder</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Rollers</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Heavy Motors</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Excavator</div>
                    <p class="light">rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light">Drivers</div>
                    <p class="light">Cottage rentals</p>
                </div>
            </div>
            <div>
                <div>
                    <div class="main-light show">
                        <span>Show more</span>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <p> </p>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-mdl">
            <div>
                <div class="main-light mb-2">Support</div>
                <div class="ftr-mdl-cont">
                    <div><span>Help Centre</span></div>
                    <div><span>ContractCover</span></div>
                    <div><span>Anti-discrimination</span></div>
                    <div><span>Disability support</span></div>
                    <div><span>Cancellation option</span></div>
                    <div><span>Report concern</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">Hosting</span></div>
                <div class="ftr-mdl-cont">
                    <div><span>Your purchase</span></div>
                    <div><span>For Hosts</span></div>
                    <div><span>Resources</span></div>
                    <div><span>Community forum</span></div>
                    <div><span>Hosting responsibly</span></div>
                </div>
            </div>
            <div>
                <div class="main-light mb-2">RES</div>
                <div class="ftr-mdl-cont">
                    <div><span>Newsroom</span></div>
                    <div><span>New features</span></div>
                    <div><span>Contractors</span></div>
                    <div><span>Investors</span></div>
                    <div><span>RES.org emergency works</span></div>
                </div>
            </div>
        </div>
        <hr class="ftr-hr">
        <div class="ftr-copy">
            <div>
                <div>&copy; 2024 RES Internship project. &sdot; &nbsp; </div>
                <div class="priv">
                    <a href="#">Privacy</a> &sdot;
                    <a href="#">Terms</a> &sdot;
                    <a href="#">Sitemap</a> &sdot;
                    <a href="#">Company details</a>
                </div>
            </div>
            <div class="ftr-net">
                <div class="eng-in">
                    <i class="fa-solid fa-globe me-1"></i>
                    <div class="main-light">English (IN)</div>
                </div>
                <div class="ftr-inr">₹ INR</div>
                <div class="social-icon">
                    <a target="_blank" href="https://github.com/Anjali17aj">
                        <img src="/Icon/github.png" alt="GitHub" />
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/anjali-kumari17/">
                        <img src="/Icon/linkedIn.png" alt="LinkedIn" />
                    </a>
                    <a target="_blank" href="https://www.instagram.com/anjali._aj/">
                        <img src="/Icon/instagram.png" alt="Instagram" />
                    </a>
                    <a target="_blank" href="https://www.facebook.com/anjali17aj">
                        <img src="/Icon/facebook.png" alt="Facebook" style="padding: 1px;" />
                    </a>
                    <a target="_blank" href="https://twitter.com/anjali17aj">
                        <img src="/Icon/twiter.png" alt="Twiter" />
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</footer>